
.bimage{
    position: relative;
    width: 100%;
}

.binput{
    width: 100%;
    height: 100%;
    text-size-adjust: 20px;
}
.bodyE{

}

/* .binput{
    
} */

.Itext{
    box-sizing: content-box;
    position: absolute;
    top: 200px; 
    width: 30%;
    height: 30px;
    left: 60px;

}

#text-color{
    color: white;
}