/* .header{
    display: flex;
} */

.parentContainer{
    height: 50%;
    display: flex;  
    
    /* width: 50%; */
    /* justify-content: center; */
    justify-items: center;


    background-color: azure;
}

.logo{
    height: 120px;
    width: 112px;
}

#logo{
    height: 100%;
    width: 100%;
}

.categories{
    /* display: flex; */
    flex-direction: row;
    width: 200px;
}

#cate{  
    height: 100%;
    width: 100%; 
}

.input{
    /* display: flex; */
width: 150px;
}

#input{
    width: 100%;
    height: 20%;    
}

.text{
    /* display: flex; */

}
 
.cart{
    height: 50px;
    width: 50px;

}

#cart{
    height: 100%;
    width: 100%;
}

.button{
    /* display: flex; */

}